<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hogl.eregister">

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />

    <application
        android:name=".data.InitApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ERegister"
        tools:targetApi="31">
        <activity
            android:name=".activities.MovementRecordActivity"
            android:exported="false"
            android:theme="@style/Theme.ERegister"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hogl.eregister.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".connect.DeviceConnectedActivity"
            android:exported="false"
            android:theme="@style/Theme.ERegister" />
        <activity
            android:name=".connect.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ERegister"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.hogl.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.NewVisitorActivity"
            android:exported="false"
            android:theme="@style/Theme.ERegister">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.hogl.eregister.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.RegisteredVisitorActivity"
            android:exported="false"
            android:theme="@style/Theme.ERegister"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hogl.eregister.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.ERegister" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ERegister.noAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>